<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Submitted</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    tailwind.config = {
      theme: {
        fontFamily: {
          "poppins": ["Poppins", "sans-serif"]
        },
        extend: {
          colors: {
            clifford: '#da373d',
          }
        }
      }
    }
  </script>
</head>

<body>
  <div class="w-full text-center h-screen bg-black py-10 font-poppins flex items-center justify-center">
    <h1 class="text-5xl font-semibold text-white">Some thing went wrong</h1>
  </div>
</body>

</html>