<div class=" w-full py-8 border-b-2 border-black">
  <h2 class="text-[#78403e] text-2xl">Terms & Condition</h2>
  <h3>This membership is valid</h3>
  <h3>Membership includes the facilities available</h3>
  <h3>Membership is not automatic</h3>
</div>