<div class="text-center bg-[#78403e] text-white py-5">
  <h1 class="text-5xl font-semibold">Membership Form</h1>
  <h3 class="text-3xl tracking-wider font-semibold">Fradal and Spies Fitness</h3>
</div>